<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yame.leeks.mapper.StockDataMapper">

    <insert id="saveBatchList" parameterType="java.util.List">
        INSERT INTO stock_data_day (id, symbol, trade, price_change, change_percent, open, high, low, volume, amount,
        inside_dish, outer_disc, turnover_ratio, tick_time, update_time)
        VALUES
        <foreach collection="list" item="stock" separator=",">
            (#{stock.id}, #{stock.symbol}, #{stock.trade}, #{stock.priceChange}, #{stock.changePercent}, #{stock.open},
            #{stock.high}, #{stock.low}, #{stock.volume}, #{stock.amount}, #{stock.insideDish}, #{stock.outerDisc},
            #{stock.turnoverRatio}, #{stock.tickTime}, #{stock.updateTime})
        </foreach>
    </insert>
    <insert id="insertOrUpdateDayDatas">
        INSERT INTO stock_data_month (id, symbol, trade, price_change, change_percent, open, high, low, volume, amount,
        inside_dish, outer_disc, turnover_ratio, tick_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.symbol}, #{item.trade}, #{item.priceChange}, #{item.changePercent}, #{item.open},
            #{item.high},
            #{item.low}, #{item.volume}, #{item.amount},#{item.insideDish},#{item.outerDisc},
            #{item.turnoverRatio},#{item.tickTime}, NOW())
        </foreach>
        ON DUPLICATE KEY
        UPDATE
        symbol =
        VALUES (symbol), trade =
        VALUES (trade), price_change =
        VALUES (price_change), change_percent =
        VALUES (change_percent), open =
        VALUES (open), high =
        VALUES (high), low =
        VALUES (low), volume =
        VALUES (volume), amount =
        VALUES (amount), inside_dish =
        VALUES (inside_dish), outer_disc =
        VALUES (outer_disc), tick_time =
        VALUES (tick_time), turnover_ratio =
        VALUES (turnover_ratio), update_time = NOW();
    </insert>
    <insert id="createStockDataDayTable">
        CREATE TABLE if not exists `stock_data_day` (
             `id` bigint NOT NULL COMMENT '主键ID',
             `symbol` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '股票代码',
             `trade` decimal(10,3) NOT NULL COMMENT '当前交易价格',
             `price_change` decimal(10,3) NOT NULL COMMENT '涨跌',
             `change_percent` decimal(10,3) NOT NULL COMMENT '涨跌幅',
             `open` decimal(10,3) NOT NULL COMMENT '当日开盘价',
             `high` decimal(10,3) NOT NULL COMMENT '当日最高价',
             `low` decimal(10,3) NOT NULL COMMENT '当日最低价',
             `volume` bigint NOT NULL COMMENT '当日成交量',
             `amount` decimal(65,3) NOT NULL COMMENT '当日成交金额',
             `inside_dish` bigint DEFAULT NULL COMMENT '内盘（主动卖出的成交量）',
             `outer_disc` bigint DEFAULT NULL COMMENT '外盘（主动买入的成交量）',
             `turnover_ratio` decimal(10,5) DEFAULT NULL COMMENT '换手率',
             `tick_time` datetime NOT NULL COMMENT '数据更新时间',
             `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
             PRIMARY KEY (`id`) USING BTREE,
             KEY `index_symbol` (`symbol`) USING BTREE,
             KEY `index_tick_time` (`tick_time`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='股票日数据表';
    </insert>
    <select id="haveStockDayDataByDate" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM stock_data_month
        WHERE date(tick_time) = #{today} limit 1
    </select>
    <select id="haveStockDataByDate" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM stock_data_day
        WHERE date(tick_time) = #{today} limit 1
    </select>
    <select id="haveStockHourTableByDate" resultType="java.lang.Boolean">
        SELECT count(TABLE_NAME) > 0
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = 'leeks'
          AND TABLE_NAME = concat('stock_data_', #{date});
    </select>
    <select id="haveStockDataTable" resultType="java.lang.Boolean">
        SELECT count(TABLE_NAME) > 0
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = 'leeks'
          AND TABLE_NAME = 'stock_data_day';
    </select>
    <select id="haveStockHourDataByDate" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM `stock_data_${todayTable}`
        WHERE date(tick_time) = #{date} limit 1
    </select>
    <insert id="renameStockDataDayTable">
        rename table stock_data_day to stock_data_${todayTable};
    </insert>

    <select id="haveStockDataMonthTable" resultType="boolean">
        SELECT count(TABLE_NAME) > 0
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = 'leeks'
        AND TABLE_NAME = concat('stock_data_', #{date});
    </select>
    <insert id="renameStockDataMonthTable">
        rename table stock_data_month to stock_data_${monthTable};
    </insert>

    <insert id="createStockDataMonthTable">
        CREATE TABLE `stock_data_month` (
        `id` bigint NOT NULL COMMENT '主键ID',
        `symbol` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '完整股票代码',
        `trade` decimal(10,3) NOT NULL COMMENT '当前交易价格',
        `price_change` decimal(10,3) NOT NULL COMMENT '涨跌',
        `change_percent` decimal(10,3) NOT NULL COMMENT '涨跌幅',
        `open` decimal(10,3) NOT NULL COMMENT '当日开盘价',
        `high` decimal(10,3) NOT NULL COMMENT '当日最高价',
        `low` decimal(10,3) NOT NULL COMMENT '当日最低价',
        `volume` bigint NOT NULL COMMENT '当日成交量',
        `amount` decimal(65,3) NOT NULL COMMENT '当日成交金额',
        `inside_dish` bigint DEFAULT NULL COMMENT '内盘（主动卖出的成交量）',
        `outer_disc` bigint DEFAULT NULL COMMENT '外盘（主动买入的成交量）',
        `turnover_ratio` decimal(10,5) DEFAULT NULL COMMENT '换手率',
        `tick_time` date NOT NULL COMMENT '日期',
        `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
        PRIMARY KEY (`id`) USING BTREE,
        UNIQUE KEY `unique_code_tick_time` (`symbol`,`tick_time`) USING BTREE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='股票天粒度数据表(每支股票每天只有一条数据)';
    </insert>

    <update id="updateBatchBySymbol" parameterType="java.util.List">
            UPDATE stock_data_2025_03_06
            SET symbol = CASE
            <foreach collection="list" item="item" index="index">
                WHEN id = #{item.id} THEN #{item.symbol}
            </foreach>
            ELSE symbol
            END
            WHERE id IN
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item.id}
            </foreach>
    </update>
</mapper>
